{
  presets: [
    [
      '@babel/preset-env',
      {
        modules: false,
        targets: {
           "browsers": [
              "chrome >= 43",
              "ie >= 11",
              "safari >= 7"
          ]
        }
      }
    ],
    '@babel/preset-react'
  ],
  plugins: [
    '@babel/plugin-proposal-optional-chaining',
    '@babel/plugin-proposal-class-properties'
  ]
}