.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex: 1;
    flex-shrink: 1;
    flex-grow: 1;
    -ms-flex: 1;
    -ms-flex-shrink: 0;
    -ms-flex-grow: 1;
  }
}
