header {
  padding: $padding;
  color: white;
}

nav {
  display: flex;
  flex-wrap: wrap;

  .logo {
    flex: 1 1 auto;
  }

  .nav {
    @extend %reset-list-bullet;
    max-width: 500px;
    margin: 0;
    display: flex;
    flex: 3 1 auto;
    justify-content: space-between;
  }
}
