.list-style-none {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.skills {
  @extend %reset-list-bullet;
  column-count: 5;
  text-align: center;
  text-align: -webkit-center;
  li {
    width: 80px;
    margin-bottom: 15px;
    &:hover {
      animation: rotate 1s linear infinite;
    }
  }
}

.experience {
  @extend %reset-list-bullet;

  &-item {
    h3 {
      @include cssVariable('color', '--blue-transparent', $blue-transparent);
      margin-top: 5px;
      margin-bottom: 10px;
    }
  }

  .date {
    @include cssVariable('color', '--yellow', $yellow);
    font-weight: 300;
    text-align: right;
    font-size: 0.7rem;
    margin-bottom: 5px;
  }

  .experience-item {
    margin-bottom: 20px;
    li {
      margin-bottom: 10px;
    }
  }
}
