@import '../../node_modules/normalize-scss/sass/normalize';

@include normalize();

@import 'variables';
@import 'animations';
@import 'reset/custom-native-reset';
@import 'components';

.intro {
  position: relative;
  height: 100vh;
  padding: 300px 15px;
  overflow: hidden;

  body.loading & {
    position: fixed;
    @include cssVariable('background-color', '--gray-dark', $gray-dark);
    width: 100%;
    min-width: 100%;
    z-index: 100;
    @media (min-width: 978px) {
      padding-left: 10%;
      padding-right: 10%;
    }

    > *:not(&) {
      display: none;
    }
  }

  &-paragraph {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    opacity: 0;
  }
  &-phrase {
    @include cssVariable('color', '--yellow', #{$yellow});
  }

  .author-name {
    @include cssVariable(
      'font-size',
      '--font-size-x-x-big',
      #{$font-size-x-x-big}
    );
    color: white;
    margin: 0;
    font-weight: 300;
  }
  .author-title {
    @include cssVariable(
      'font-size',
      '--font-size-x-x-big',
      #{$font-size-x-x-big}
    );
    @include cssVariable('color', '--yellow', #{$yellow});
    margin: 0;
  }
  &:after,
  &:before {
    content: attr(data-message);
    position: absolute;
    font-weight: bold;
    font-size: 120px;
    top: 33%;
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 1;
    transition: 5s opacity ease;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &:before {
    animation-name: move-beginning;
    z-index: 2;
  }

  &:after {
    animation-name: add-shadow;
    z-index: 1;
    transform: translate(15px, 15px);
    color: rgba(0, 0, 0, 0.5);
  }

  &-before-ready {
    &:after,
    &:before {
      opacity: 0.005;
    }
  }

  @media (max-width: 978px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media (max-width: $size-medium) {
    padding: 350px 10px;
    &:before,
    &:after {
      font-size: 80px;
    }
    .author-name,
    .author-title {
      @include cssVariable('font-size', '--font-size-big', #{$font-size-big});
    }
  }
}

.optional-contact {
  @media screen and (max-width: 1383px) {
    display: none;
  }

  > * {
    @include cssVariable('background-color', '--gray-dark', $gray-dark);
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    height: 340px;
    width: 40px;
    position: fixed;
  }

  ul {
    @extend %reset-list-bullet;
    margin: 0;
    padding: 0;
    li {
      padding-bottom: 20px;
    }
  }

  svg,
  img {
    height: 20px;
    width: 20px;
    overflow: hidden;
    margin: 0 auto;
  }

  .email {
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    direction: rtl;
    margin-bottom: 20px;
  }

  .right {
    right: 40px;
  }
}

.bio {
  .abstract {
    > * {
      float: left;
    }

    > p {
      width: 70%;
      padding-left: $padding;
      padding-right: $padding;
    }
  }

  .picture {
    display: inline-block;
    width: 30%;
  }

  @media (max-width: $size-medium) {
    .picture {
      margin-left: 10%;
      width: 80%;
    }
    .abstract {
      p {
        width: 100%;
      }
    }
    .skills {
      column-count: 4;
    }
  }
}

.contact-me-button {
  display: inline-block;
  padding: $padding $padding * 2;
  border: 1px solid $yellow;
  background: fade-out($red, 1);
  transition: 0.5s all ease;

  &:hover,
  &:active {
    border-color: $red;
    background: fade-in($red, 0.5);
    color: white;
    box-shadow: 0 0 5px $red;
  }
}

.picture-front {
  display: none;
}

/* Tools */
.tooling {
  padding-top: 20px;
}

/* Include Merdia print*/
@media print {
  body {
    font-size: 15px;
    color: #666 !important;
  }
  a,
  p,
  li {
    line-height: 18px;
  }
  .author-name {
    font-size: 48px !important;
    text-align: center;
  }
  .intro {
    padding: 100px !important;
  }
  .bio {
    margin-top: 100px;
  }
  .section {
    width: 90%;
  }
  .picture-front {
    width: 300px;
    margin: auto;
    display: block;
  }
  .abstract,
  .experience-item,
  .experience-item li {
    font-size: 0.8rem !important;
  }
  .experience-item h3 span:first-child {
    color: $yellow;
    font-size: 0.85rem !important;
    flex-grow: 2;
  }
  header,
  .contact,
  .picture,
  .get-the-code,
  .optional-contact ul {
    display: none !important;
  }
  .skills {
    column-count: 5 !important;
    margin-bottom: 50px;
    li {
      width: unset;
      &:after {
        content: attr(data-title);
        text-align: left;
      }
      img {
        display: none;
      }
    }
  }
  .experience-item {
    margin-bottom: 10px;
  }
}
