@import 'variables';
@import '~/node_modules/normalize.css/normalize.css';
@import 'reset/custom-native-reset';
@import 'components';

.intro {
  position: relative;
  height: 100vh;
  padding: 300px 15px;

  &-paragraph {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    opacity: 0;
  }
  &-phrase {
    @include cssVariable('color', '--yellow', #{$yellow});
  }

  .author-name {
    @include cssVariable(
      'font-size',
      '--font-size-x-x-big',
      #{$font-size-x-x-big}
    );
    color: white;
    margin: 0;
    font-weight: 300;
    text-shadow: 0 0 0 transparent, 0 0 5px $blue-transparent, 0 0 10px white;
  }
  .author-title {
    @include cssVariable(
      'font-size',
      '--font-size-x-x-big',
      #{$font-size-x-x-big}
    );
    @include cssVariable('color', '--yellow', #{$yellow});
    margin: 0;
  }

  &:before {
    content: attr(data-message);
    position: absolute;
    font-weight: bold;
    font-size: 120px;
    top: 33%;
    left: 25%;
    opacity: 1;
    transition: 5s opacity ease;
  }

  &-before-ready {
    &:before {
      opacity: 0.005;
    }
  }

  @media (max-width: $size-medium) {
    padding: 130px 15px;
    &:before {
      font-size: 60px;
    }
    .author-name,
    .author-title {
      @include cssVariable('font-size', '--font-size-big', #{$font-size-big});
    }
  }
}

.optional-contact {
  @media screen and (max-width: $size-large) {
    display: none;
  }

  > * {
    @include cssVariable('background-color', '--gray-dark', $gray-dark);
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    height: 340px;
    width: 40px;
    position: fixed;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      padding-bottom: 20px;
      list-style-image: url(data:0);
    }
  }

  svg {
    height: 20px;
    width: 20px;
    fill: currentcolor;
  }

  .email {
    writing-mode: vertical-lr;
    -ms-writing-mode: tb-rl;
    direction: rtl;
    margin-bottom: 20px;
  }

  .right {
    right: 40px;
  }
}

.bio {
  .abstract {
    flex-grow: 2;
    padding-left: $padding;
    padding-right: $padding;
  }

  .picture {
    > img {
      width: 100%;
    }
  }

  @media (max-width: $size-medium) {
    .flex-container {
      flex-direction: column-reverse;
    }
    .abstract {
      flex-basis: 100%;
    }
    .picture {
      > img {
        width: 80%;
        display: block;
        margin: auto;
      }
    }
  }
}
