*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  @include cssVariable('font-family', '--font-family', #{$font-family});
  @include cssVariable('background-color', '--gray-dark', $gray-dark);
  @include cssVariable('color', '--blue-transparent', #{$blue-transparent});
  font-size: 20px;
  min-height: 500px;
  min-width: 480px;
  -webkit-font-smoothing: antialiased;
}

p {
  line-height: 1.2rem;
}

a {
  @include cssVariable('color', '--yellow', $yellow);
  transition: 0.5s color ease;
  text-decoration: none;

  &:hover,
  &:active {
    @include cssVariable('color', '--red', $red);
  }
}
